* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}


.container1{
  width: 100%;
  height: 400px;
  position: relative;
  top: 40%;
  align-items: center;
}

.container2{
  width: 100%;
  height: 60%;
  position: relative;
  top: 40%;
}

.chickentag{
  width: 20%;
  height: 20px;
  background-color: pink;
  position: relative;
  left: 80%;
  text-align: center;
}


.beeftag{
  width: 20%;
  height: 20px;
  background-color: maroon;
  position: relative;
  left: 80%;
  text-align: center;
  display: flex-box; justify-content: right;
  color: white;
}

.sushitag{
  width: 20%;
  height: 20px;
  background-color: orange;
  position: relative;
  left: 80%;
  text-align: center;
  display: flex-box; justify-content: right;
}



.box1{
  border: 1px solid black;
  background-color: #AAAAAA;
  width: 90%;
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: Helvetica;
  color: black;
  position: relative;
}

p{
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4{
    float: left;
  }
  .col-lg-4 {
    width: 31%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-12{
    width: 92.3%;
  }
}

@media (max-width: 767px) {
 .col-md-12{
    float: left;
  }
  .col-md-12 {
    width: 92.3%;
  }

